@font-face {
  font-family: 'PlayfairDisplay';
  src: url(/fonts/PlayfairDisplay/PlayfairDisplay-Medium.ttf);
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: url(../fonts/PlayfairDisplay/PlayfairDisplay-Italic.ttf);
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: url(/fonts/PlayfairDisplay/PlayfairDisplay-Bold.ttf);
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Satoshi';
  src: url(/fonts/Satoshi/Satoshi-Medium.woff2) format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url(/fonts/Satoshi/Satoshi-Italic.woff2) format('woff2');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Satoshi';
  src: url(/fonts/Satoshi/Satoshi-Bold.woff2) format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url(/fonts/Satoshi/Satoshi-MediumItalic.woff2) format('woff2');
  font-weight: 500;
  font-style: italic;
}